{% extends "base.html" %}
{% block title %}HackerRank - Edit Test{% endblock %}
{% block body %}
	<style type="text/css">
		.sub-nav-item {
			padding: 5px;
			background-color: white;
			color: black;
		}
		.sub-nav {
			background-color: #ccc;
			border: 1px solid #929eaa;
		}
		#content {
			padding: 10px;
			border: 1px solid #929eaa;
		}
		.btn {
			border-radius: 0px !important;
		}
		.tests_ul {
			list-style-type: none;
		}
		.tests_ul li {
			list-style-type: none;
		}
	</style>
	<style>  
	  #toolbar [data-wysihtml-action] {
	    float: right;
	  }
	  
	  #toolbar,
	  textarea {
	    width: 920px;
	    padding: 5px;
	    -webkit-box-sizing: border-box;
	    -ms-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	  }
	  
	  textarea {
	    height: 280px;
	    border: 2px solid green;
	    font-family: Verdana;
	    font-size: 11px;
	  }
	  
	  textarea:focus {
	    color: black;
	    border: 2px solid black;
	  }
	  
	  .wysihtml-command-active {
	    font-weight: bold;
	  }
	  
	  [data-wysihtml-dialog] {
	    margin: 5px 0 0;
	    padding: 5px;
	    border: 1px solid #666;
	  }
	  
	  a[data-wysihtml-command-value="red"] {
	    color: red;
	  }
	  
	  a[data-wysihtml-command-value="green"] {
	    color: green;
	  }
	  
	  a[data-wysihtml-command-value="blue"] {
	    color: blue;
	  }
	  
	  div.editable {
	    border: 1px dashed gray;
	    padding: 10px;
	  }

	  .sub-nav-item {
			padding: 5px;
			background-color: white;
			color: black;
		}
		.sub-nav {
			background-color: #ccc;
			border: 1px solid #929eaa;
		}
		#content {
			padding: 10px;
			border: 1px solid #929eaa;
		}
		.btn {
			border-radius: 0px !important;
		}
		.tests_ul {
			list-style-type: none;
		}
		.tests_ul li {
			list-style-type: none;
		}
	</style>
	<nav aria-label="breadcrumb" role="navigation">
	  <ol class="breadcrumb">
	    <li class="breadcrumb-item"><a href="/admin">Manage Tests</a></li>
	    <li class="breadcrumb-item" aria-current="page"><a href="/edit_question/{{testid}}">{{testid}}</a></li>
	    <li class="breadcrumb-item active" aria-current="page">{{identity}}</li>
	  </ol>
	</nav><hr>
	<h2>{{name}}</h2><br>
	<ul class="nav nav-tabs" role="tablist">
	  <li class="nav-item">
	    <a class="nav-link active" href="#details" role="tab" data-toggle="tab">Question</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="#testcases" role="tab" data-toggle="tab">Testcases</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="#languages" role="tab" data-toggle="tab">Languages</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="#submissions" role="tab" data-toggle="tab">Submissions</a>
	  </li>
	</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div role="tabpanel" class="tab-pane fade in active col-md-12 show" id="details">
  	<br>
  	{% if valid %}
		<div class="alert alert-success" role="alert">
		  {{message}}
		</div>
	{% elif message %}
		<div class="alert alert-danger" role="alert">
		  {{message}}
		</div>
	{% endif %}
	<div class="row">
	  	<form action="/create_question/{{testid}}" method="POST" class="col-md-6">
			<div class="form-group">
				<label for="id">Question ID</label>
				<input type="text" class="form-control" id="id" name="id" value="{{identity}}" required>
				<small class="form-text text-muted">Please choose a unique ID with not more than 10 characters.</small>
			</div>
			<div class="form-group">
				<label for="name">Name of the Question</label>
				<input type="text" class="form-control" id="name" name="name" value="{{name}}" required>
			</div>
			<div class="form-group">
				<label for="marks">Marks</label>
				<input type="number" class="form-control" id="marks" name="marks" value="{{marks}}" required>
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
		<div class="col-md-6">
			<!-- problem statement -->
			<div id="accordion" role="tablist" aria-multiselectable="true">
			  <div class="card">
			    <div class="card-header" role="tab" id="headingOne">
			      <h5 class="mb-0">
			        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" style="color:black; text-decoration: none" aria-controls="collapseOne">
			          Problem Statement
			        </a>
			      </h5>
			    </div>

			    <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
			      <div class="card-block">
			        <form class="ewrapper" style="padding: 15px; padding-left: 30px; padding-right: 30px;" id="statement" action="/edit_statement/{{testid}}/{{identity}}" method="POST">
					    <div class="form-group">
						  <div class="toolbar" style="display: none;">
						    <a data-wysihtml-command="bold" title="CTRL+B" class="btn btn-sm btn-outline-secondary"><i class="fa fa-bold" aria-hidden="true"></i></a>
						    <a data-wysihtml-command="italic" title="CTRL+I" class="btn btn-sm btn-outline-secondary"><i class="fa fa-italic" aria-hidden="true"></i></a>
						    <a data-wysihtml-command="superscript" title="sup" class="btn btn-sm btn-outline-secondary"><i class="fa fa-superscript" aria-hidden="true"></i></a>
						    <a data-wysihtml-command="subscript" title="sub" class="btn btn-sm btn-outline-secondary"><i class="fa fa-subscript" aria-hidden="true"></i></a>
						    <a data-wysihtml-command="createLink" class="btn btn-sm btn-outline-secondary"><i class="fa fa-link" aria-hidden="true"></i></a>
						    <a data-wysihtml-command="removeLink" class="btn btn-sm btn-outline-secondary"><i class="fa fa-chain-broken" aria-hidden="true"></i></a>
						    <a data-wysihtml-command="formatBlock" data-wysihtml-command-value="h1" class="btn btn-sm btn-outline-secondary">h1</a>
						    <a data-wysihtml-command="formatBlock" data-wysihtml-command-value="h2" class="btn btn-sm btn-outline-secondary">h2</a>
						    <a data-wysihtml-command="insertUnorderedList" class="btn btn-sm btn-outline-secondary"><i class="fa fa-list-ul" aria-hidden="true"></i></a>
						    <a data-wysihtml-command="insertOrderedList" class="btn btn-sm btn-outline-secondary"><i class="fa fa-list-ol" aria-hidden="true"></i></a>
						    <a data-wysihtml-command="formatCode" data-wysihtml-command-value="language-html" class="btn btn-sm btn-outline-secondary"><i class="fa fa-code" aria-hidden="true"></i></a>
						    <a data-wysihtml-command="undo" class="btn btn-sm btn-outline-secondary"><i class="fa fa-undo" aria-hidden="true"></i></a>
						    <a data-wysihtml-command="redo" class="btn btn-sm btn-outline-secondary"><i class="fa fa-repeat" aria-hidden="true"></i></a><br>
						    <a data-wysihtml-action="change_view">switch to html view</a>
						    
						    <div data-wysihtml-dialog="createLink" style="display: none;">
						      <label>
						        Link:
						        <input data-wysihtml-dialog-field="href" value="http://">
						      </label>
						      <a data-wysihtml-dialog-action="save">OK</a>&nbsp;<a data-wysihtml-dialog-action="cancel">Cancel</a>
						    </div>
						    
						    <div data-wysihtml-dialog="insertImage" style="display: none;">
						      <label>
						        Image:
						        <input data-wysihtml-dialog-field="src" value="http://">
						      </label>
						      <label>
						        Align:
						        <select data-wysihtml-dialog-field="className">
						          <option value="">default</option>
						          <option value="wysiwyg-float-left">left</option>
						          <option value="wysiwyg-float-right">right</option>
						        </select>
						      </label>
						      <a data-wysihtml-dialog-action="save">OK</a>&nbsp;<a data-wysihtml-dialog-action="cancel">Cancel</a>
						    </div>
						  </div>
						  <br>
						  <div class="editable" placeholder="Enter problem statement of the question"></div>
						  <input type="textarea" id="statement_proxy" name="statement" hidden>
						  <br><input type="reset" class="btn btn-secondary btn-sm" value="Clear Everything"><input type="submit" class="btn btn-primary btn-sm float-right" value="Save Changes">
						</div>
					</form>
			      </div>
			    </div>
			  </div>

			  <!-- input format -->
			  <div class="card">
			    <div class="card-header" role="tab" id="headingTwo">
			      <h5 class="mb-0">
			        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" style="color:black; text-decoration: none" aria-controls="collapseTwo">
			          Input Format
			        </a>
			      </h5>
			    </div>
			    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
			      <div class="card-block">
			        <form class="ewrapper" style="padding: 15px; padding-left: 30px; padding-right: 30px;" id="input_format" action="/edit_input_format/{{testid}}/{{identity}}" method="POST">
					    <div class="form-group">
						  <div class="toolbar" style="display: none;">
						    <a data-wysihtml-command="bold" title="CTRL+B" class="btn btn-sm btn-outline-secondary"><i class="fa fa-bold" aria-hidden="true"></i></a>
						    <a data-wysihtml-command="italic" title="CTRL+I" class="btn btn-sm btn-outline-secondary"><i class="fa fa-italic" aria-hidden="true"></i></a>
						    <a data-wysihtml-command="superscript" title="sup" class="btn btn-sm btn-outline-secondary"><i class="fa fa-superscript" aria-hidden="true"></i></a>
						    <a data-wysihtml-command="subscript" title="sub" class="btn btn-sm btn-outline-secondary"><i class="fa fa-subscript" aria-hidden="true"></i></a>
						    <a data-wysihtml-command="createLink" class="btn btn-sm btn-outline-secondary"><i class="fa fa-link" aria-hidden="true"></i></a>
						    <a data-wysihtml-command="removeLink" class="btn btn-sm btn-outline-secondary"><i class="fa fa-chain-broken" aria-hidden="true"></i></a>
						    <a data-wysihtml-command="formatBlock" data-wysihtml-command-value="h1" class="btn btn-sm btn-outline-secondary">h1</a>
						    <a data-wysihtml-command="formatBlock" data-wysihtml-command-value="h2" class="btn btn-sm btn-outline-secondary">h2</a>
						    <a data-wysihtml-command="insertUnorderedList" class="btn btn-sm btn-outline-secondary"><i class="fa fa-list-ul" aria-hidden="true"></i></a>
						    <a data-wysihtml-command="insertOrderedList" class="btn btn-sm btn-outline-secondary"><i class="fa fa-list-ol" aria-hidden="true"></i></a>
						    <a data-wysihtml-command="formatCode" data-wysihtml-command-value="language-html" class="btn btn-sm btn-outline-secondary"><i class="fa fa-code" aria-hidden="true"></i></a>
						    <a data-wysihtml-command="undo" class="btn btn-sm btn-outline-secondary"><i class="fa fa-undo" aria-hidden="true"></i></a>
						    <a data-wysihtml-command="redo" class="btn btn-sm btn-outline-secondary"><i class="fa fa-repeat" aria-hidden="true"></i></a><br>
						    <a data-wysihtml-action="change_view">switch to html view</a>
						    
						    <div data-wysihtml-dialog="createLink" style="display: none;">
						      <label>
						        Link:
						        <input data-wysihtml-dialog-field="href" value="http://">
						      </label>
						      <a data-wysihtml-dialog-action="save">OK</a>&nbsp;<a data-wysihtml-dialog-action="cancel">Cancel</a>
						    </div>
						    
						    <div data-wysihtml-dialog="insertImage" style="display: none;">
						      <label>
						        Image:
						        <input data-wysihtml-dialog-field="src" value="http://">
						      </label>
						      <label>
						        Align:
						        <select data-wysihtml-dialog-field="className">
						          <option value="">default</option>
						          <option value="wysiwyg-float-left">left</option>
						          <option value="wysiwyg-float-right">right</option>
						        </select>
						      </label>
						      <a data-wysihtml-dialog-action="save">OK</a>&nbsp;<a data-wysihtml-dialog-action="cancel">Cancel</a>
						    </div>
						  </div>
						  <br>
						  <div class="editable" placeholder="Enter input_format for the question"></div>
						  <input type="textarea" id="input_format_proxy" name="input_format" hidden>
						  <br><input type="reset" class="btn btn-secondary btn-sm" value="Clear Everything"><input type="submit" class="btn btn-primary btn-sm float-right" value="Save Changes">
						</div>
					</form>
			      </div>
			    </div>
			  </div>

			  <!-- output format -->
			  <div class="card">
			    <div class="card-header" role="tab" id="headingThree">
			      <h5 class="mb-0">
			        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" style="color:black; text-decoration: none" aria-controls="collapseThree">
			          Output Format
			        </a>
			      </h5>
			    </div>
			    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
			      <div class="card-block">
			        <form class="ewrapper" style="padding: 15px; padding-left: 30px; padding-right: 30px;" id="output_format" action="/edit_output_format/{{testid}}/{{identity}}" method="POST">
					    <div class="form-group">
						  <div class="toolbar" style="display: none;">
						    <a data-wysihtml-command="bold" title="CTRL+B" class="btn btn-sm btn-outline-secondary"><i class="fa fa-bold" aria-hidden="true"></i></a>
						    <a data-wysihtml-command="italic" title="CTRL+I" class="btn btn-sm btn-outline-secondary"><i class="fa fa-italic" aria-hidden="true"></i></a>
						    <a data-wysihtml-command="superscript" title="sup" class="btn btn-sm btn-outline-secondary"><i class="fa fa-superscript" aria-hidden="true"></i></a>
						    <a data-wysihtml-command="subscript" title="sub" class="btn btn-sm btn-outline-secondary"><i class="fa fa-subscript" aria-hidden="true"></i></a>
						    <a data-wysihtml-command="createLink" class="btn btn-sm btn-outline-secondary"><i class="fa fa-link" aria-hidden="true"></i></a>
						    <a data-wysihtml-command="removeLink" class="btn btn-sm btn-outline-secondary"><i class="fa fa-chain-broken" aria-hidden="true"></i></a>
						    <a data-wysihtml-command="formatBlock" data-wysihtml-command-value="h1" class="btn btn-sm btn-outline-secondary">h1</a>
						    <a data-wysihtml-command="formatBlock" data-wysihtml-command-value="h2" class="btn btn-sm btn-outline-secondary">h2</a>
						    <a data-wysihtml-command="insertUnorderedList" class="btn btn-sm btn-outline-secondary"><i class="fa fa-list-ul" aria-hidden="true"></i></a>
						    <a data-wysihtml-command="insertOrderedList" class="btn btn-sm btn-outline-secondary"><i class="fa fa-list-ol" aria-hidden="true"></i></a>
						    <a data-wysihtml-command="formatCode" data-wysihtml-command-value="language-html" class="btn btn-sm btn-outline-secondary"><i class="fa fa-code" aria-hidden="true"></i></a>
						    <a data-wysihtml-command="undo" class="btn btn-sm btn-outline-secondary"><i class="fa fa-undo" aria-hidden="true"></i></a>
						    <a data-wysihtml-command="redo" class="btn btn-sm btn-outline-secondary"><i class="fa fa-repeat" aria-hidden="true"></i></a><br>
						    <a data-wysihtml-action="change_view">switch to html view</a>
						    
						    <div data-wysihtml-dialog="createLink" style="display: none;">
						      <label>
						        Link:
						        <input data-wysihtml-dialog-field="href" value="http://">
						      </label>
						      <a data-wysihtml-dialog-action="save">OK</a>&nbsp;<a data-wysihtml-dialog-action="cancel">Cancel</a>
						    </div>
						    
						    <div data-wysihtml-dialog="insertImage" style="display: none;">
						      <label>
						        Image:
						        <input data-wysihtml-dialog-field="src" value="http://">
						      </label>
						      <label>
						        Align:
						        <select data-wysihtml-dialog-field="className">
						          <option value="">default</option>
						          <option value="wysiwyg-float-left">left</option>
						          <option value="wysiwyg-float-right">right</option>
						        </select>
						      </label>
						      <a data-wysihtml-dialog-action="save">OK</a>&nbsp;<a data-wysihtml-dialog-action="cancel">Cancel</a>
						    </div>
						  </div>
						  <br>
						  <div class="editable" placeholder="Enter output format of the question"></div>
						  <input type="textarea" id="output_format_proxy" name="output_format" hidden>
						  <br><input type="reset" class="btn btn-secondary btn-sm" value="Clear Everything"><input type="submit" class="btn btn-primary btn-sm float-right" value="Save Changes">
						</div>
					</form>
			      </div>
			    </div>
			  </div>

			  <!-- constraints -->
			  <div class="card">
			    <div class="card-header" role="tab" id="headingFour">
			      <h5 class="mb-0">
			        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" style="color:black; text-decoration: none" aria-controls="collapseFour">
			          Constraints
			        </a>
			      </h5>
			    </div>
			    <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
			      <div class="card-block">
			        <form class="ewrapper" style="padding: 15px; padding-left: 30px; padding-right: 30px;" id="constraints" action="/edit_constraints/{{testid}}/{{identity}}" method="POST">
					    <div class="form-group">
						  <div class="toolbar" style="display: none;">
						    <a data-wysihtml-command="bold" title="CTRL+B" class="btn btn-sm btn-outline-secondary"><i class="fa fa-bold" aria-hidden="true"></i></a>
						    <a data-wysihtml-command="italic" title="CTRL+I" class="btn btn-sm btn-outline-secondary"><i class="fa fa-italic" aria-hidden="true"></i></a>
						    <a data-wysihtml-command="superscript" title="sup" class="btn btn-sm btn-outline-secondary"><i class="fa fa-superscript" aria-hidden="true"></i></a>
						    <a data-wysihtml-command="subscript" title="sub" class="btn btn-sm btn-outline-secondary"><i class="fa fa-subscript" aria-hidden="true"></i></a>
						    <a data-wysihtml-command="createLink" class="btn btn-sm btn-outline-secondary"><i class="fa fa-link" aria-hidden="true"></i></a>
						    <a data-wysihtml-command="removeLink" class="btn btn-sm btn-outline-secondary"><i class="fa fa-chain-broken" aria-hidden="true"></i></a>
						    <a data-wysihtml-command="formatBlock" data-wysihtml-command-value="h1" class="btn btn-sm btn-outline-secondary">h1</a>
						    <a data-wysihtml-command="formatBlock" data-wysihtml-command-value="h2" class="btn btn-sm btn-outline-secondary">h2</a>
						    <a data-wysihtml-command="insertUnorderedList" class="btn btn-sm btn-outline-secondary"><i class="fa fa-list-ul" aria-hidden="true"></i></a>
						    <a data-wysihtml-command="insertOrderedList" class="btn btn-sm btn-outline-secondary"><i class="fa fa-list-ol" aria-hidden="true"></i></a>
						    <a data-wysihtml-command="formatCode" data-wysihtml-command-value="language-html" class="btn btn-sm btn-outline-secondary"><i class="fa fa-code" aria-hidden="true"></i></a>
						    <a data-wysihtml-command="undo" class="btn btn-sm btn-outline-secondary"><i class="fa fa-undo" aria-hidden="true"></i></a>
						    <a data-wysihtml-command="redo" class="btn btn-sm btn-outline-secondary"><i class="fa fa-repeat" aria-hidden="true"></i></a><br>
						    <a data-wysihtml-action="change_view">switch to html view</a>
						    
						    <div data-wysihtml-dialog="createLink" style="display: none;">
						      <label>
						        Link:
						        <input data-wysihtml-dialog-field="href" value="http://">
						      </label>
						      <a data-wysihtml-dialog-action="save">OK</a>&nbsp;<a data-wysihtml-dialog-action="cancel">Cancel</a>
						    </div>
						    
						    <div data-wysihtml-dialog="insertImage" style="display: none;">
						      <label>
						        Image:
						        <input data-wysihtml-dialog-field="src" value="http://">
						      </label>
						      <label>
						        Align:
						        <select data-wysihtml-dialog-field="className">
						          <option value="">default</option>
						          <option value="wysiwyg-float-left">left</option>
						          <option value="wysiwyg-float-right">right</option>
						        </select>
						      </label>
						      <a data-wysihtml-dialog-action="save">OK</a>&nbsp;<a data-wysihtml-dialog-action="cancel">Cancel</a>
						    </div>
						  </div>
						  <br>
						  <div class="editable" placeholder="Enter constraints for the question"></div>
						  <input type="textarea" id="constraints_proxy" name="constraints" hidden>
						  <br><input type="reset" class="btn btn-secondary btn-sm" value="Clear Everything"><input type="submit" class="btn btn-primary btn-sm float-right" value="Save Changes">
						</div>
					</form>
			      </div>
			    </div>
			  </div>
			</div>
		</div>
	</div>
  </div>

  <!-- Testcases -->
  <div role="tabpanel" class="tab-pane fade" id="testcases"><br>
	<!-- <div style="padding: 10px;">
		<a href="/create_question/{{identity}}" class="btn btn-success float-right">Create Question</a>
	</div><br><br>
	<div id="content">
		<table id="questions_table" class="display" width="100%"></table>
	</div>

	<script type="text/javascript">
		$(document).ready(function() {
			var jqxhr = $.post( "/load_questions/{{identity}}", function(res) {
				tests = JSON.parse(res)
			    $('#questions_table').DataTable( {
			        data: tests,
			        columns: [
			            { title: "Question ID" },
			            { title: "Name" },
			            { title: "Languages" },
			            { title: "Marks" }
			        ],
					retrieve: true,
			        paging: false
			    });
			})
			.fail(function() {
				$("#content").html( "<p class='float-center'>Error in fetching the data.</p>" );
			})
		});
	</script> -->
  </div>
  
  <!-- Languages -->
  <div role="tabpanel" class="tab-pane fade" id="languages"></div>
  <div role="tabpanel" class="tab-pane fade" id="submissions"></div>
</div>
<script type="text/javascript">
	var editors = [];
	 
	  $('.ewrapper').each(function(idx, wrapper) {
	    var e = new wysihtml.Editor($(wrapper).find('.editable').get(0), {
	      toolbar:        $(wrapper).find('.toolbar').get(0),
	      parserRules:    wysihtmlParserRules,
	      stylesheets:  "/styles/richtexteditor.css"
	    });
	    editors.push(e);
	  });

      $.get("/edit_statement/{{testid}}/{{identity}}",function(data){
    	console.log(data)
    	editors[0].setValue(data)
      })
      $.get("/edit_input_format/{{testid}}/{{identity}}",function(data){
    	console.log(data)
    	editors[1].setValue(data)
      })
      $.get("/edit_output_format/{{testid}}/{{identity}}",function(data){
    	console.log(data)
    	editors[2].setValue(data)
      })
      $.get("/edit_constraints/{{testid}}/{{identity}}",function(data){
    	console.log(data)
    	editors[3].setValue(data)
      })

	  $('#statement').submit(function() {
	    $('#statement_proxy').val(editors[0].getValue())
	    return true;
	  });
	  $('#input_format').submit(function() {
	    $('#input_format_proxy').val(editors[1].getValue())
	    return true;
	  });
	  $('#output_format').submit(function() {
	    $('#output_format_proxy').val(editors[2].getValue())
	    return true;
	  });
	  $('#constraints').submit(function() {
	    $('#constraints_proxy').val(editors[3].getValue())
	    return true;
	  });
</script>
{% endblock%}
