{% extends "base.html" %}
{% block title %}CSPP - Assignment 3{% endblock %}
{% block body %}
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row" id="main">
                <div class="col-sm-12 col-md-12" id="content">
					<div>
						<div>
							<h3>Assignment - 3</h3>
						</div><hr>
						<div class="row">
							<div class="col-md-5">
								<table class="table table-responsive table-hover table-bordered">
									<thead>
								      <tr>
								        <th>S No.</th>
								        <th>Activity</th>
								      </tr>
								    </thead>
								    <tbody>
								      <tr>
								        <td>0</td>
								        <td><a href="/activity/3/0">Introduction</a></td>
								      </tr>
								      <tr>
								        <td>1</td>
								        <td><a href="/activity/3/1">Problem 1 - Is the Word Guessed</a></td>
								      </tr>
								      <tr>
								        <td>2</td>
								        <td><a href="/activity/3/2">Problem 2 - Printing Out the User's Guess</a></td>
								      </tr>
								      <tr>
								        <td>3</td>
								        <td><a href="/activity/3/3">Problem 3 - Printing Out all Available Letters</a></td>
								      </tr>
								      <tr>
								        <td>4</td>
								        <td><a href="/activity/3/4">Problem 4 - The Game</a></td>
								      </tr>
								    </tbody>
								</table>
							</div>
						</div>
					</div><br>
				</div>
			</div>
        </div>
    </div>
{% endblock %}
