{% extends "base.html" %}
{% block title %}CSPP - Assignment 4{% endblock %}
{% block body %}
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row" id="main">
                <div class="col-sm-12 col-md-12" id="content">
					<div>
						<div>
							<h3>Assignment - 4</h3>
						</div><hr>
						<div class="row">
							<div class="col-md-7">
								<table class="table table-responsive table-hover table-bordered">
									<thead>
								      <tr>
								        <th>S No.</th>
								        <th>Activity</th>
								      </tr>
								    </thead>
								    <tbody>
								      <tr>
								        <td>0</td>
								        <td><a href="/activity/4/0">Introduction</a></td>
								      </tr>
								      <tr>
								        <td>1</td>
								        <td><a href="/activity/4/1">Getting Started</a></td>
								      </tr>
								      <tr>
								        <td>2</td>
								        <td><a href="/activity/4/2">Problem 1 - Word Scores</a></td>
								      </tr>
								      <tr>
								        <td>3</td>
								        <td><a href="/activity/4/3">Problem 2 - Dealing with Hands</a></td>
								      </tr>
								      <tr>
								        <td>4</td>
								        <td><a href="/activity/4/4">Problem 3 - Valid Words</a></td>
								      </tr>
								      <tr>
								        <td>5</td>
								        <td><a href="/activity/4/5">Problem 4 - Hand Length</a></td>
								      </tr>
								      <tr>
								        <td>6</td>
								        <td><a href="/activity/4/6">Problem 5 - Playing a Hand</a></td>
								      </tr>
								      <tr>
								        <td>7</td>
								        <td><a href="/activity/4/7">Problem 6 - Playing a Game</a></td>
								      </tr>
								      <tr>
								        <td>8</td>
								        <td><a href="/activity/4/8">Computer Choosing a Word and Playing a Hand</a></td>
								      </tr>
								      <tr>
								        <td>9</td>
								        <td><a href="/activity/4/9">Problem 7 - You and your Computer</a></td>
								      </tr>
								    </tbody>
								</table>
							</div>
						</div>
					</div><br>
				</div>
			</div>
        </div>
    </div>
{% endblock %}
