{% extends "base.html" %}
{% block title %}CSPP - Assignment 2{% endblock %}
{% block body %}
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row" id="main">
                <div class="col-sm-12 col-md-12" id="content">
					<div>
						<div>
							<h3>Assignment - 2</h3>
						</div><hr>
						<div class="row">
							<div class="col-md-7">
								<table class="table table-responsive table-hover table-bordered">
									<thead>
								      <tr>
								        <th>S No.</th>
								        <th>Activity</th>
								      </tr>
								    </thead>
								    <tbody>
								      <tr>
								        <td>0</td>
								        <td><a href="/activity/2/0">Introduction</a></td>
								      </tr>
								      <tr>
								        <td>1</td>
								        <td><a href="/activity/2/1">Problem 1 - Paying Debt off in a Year</a></td>
								      </tr>
								      <tr>
								        <td>2</td>
								        <td><a href="/activity/2/2">Problem 2 - Paying Debt Off in a Year</a></td>
								      </tr>
								      <tr>
								        <td>3</td>
								        <td><a href="/activity/2/3">Problem 3 - Using Bisection Search to Make the Program Faster</a></td>
								      </tr>
								    </tbody>
								</table>
							</div>
						</div>
					</div><br>
				</div>
			</div>
        </div>
    </div>
{% endblock %}
