{% extends "base.html" %}
{% block head %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/navbar.css">
	<link rel="stylesheet" href="/styles/fileupload.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script type="text/javascript" src="/scripts/module.js"></script>
{% endblock %}
{% block title %}ADS I - Module 3{% endblock %}
{% block body %}
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row" id="main" >
                <div class="col-sm-12 col-md-7" id="content">
					<div>
						<div>
							<h3 id="form-title">Module 3 Activity 8 - Solve the problem using Analysis of Algorithms</h3>
							<hr>
						</div>
						<div>
							<div>
								<p id="form-description">
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-12 col-md-7"><br>
				<div id="status"></div>
				<!-- <div class="panel panel-info" style="padding: 5px">{{message}}</div> -->
				<form action="/submitactivity/3/8" method="POST" enctype="multipart/form-data">
				  <div class="form-group form-question well well-sm">
				    <label for="q1" class="form-question-text">3.8.1 Faster 3-sum. As a warmup, develop an implementation TwoSumFaster that uses a linear algorithm to count the pairs that sum to zero after the array is sorted (in-stead of the binary-search-based linearithmic algorithm). Then apply a similar idea to develop a quadratic algorithm for the 3-sum problem.Submit the file once you are done</label>
					<div class="fileupload fileupload-new" data-provides="fileupload">
					  <br>
					  <span class="btn btn-primary btn-file"><span class="fileupload-new">Select file</span>
					  <span class="fileupload-exists">Change</span>
					  <input name="3.8.1 Faster 3-sum. As a warmup, develop an implementation TwoSumFaster that uses a linear algorithm to count the pairs that sum to zero after the array is sorted (in-stead of the binary-search-based linearithmic algorithm). Then apply a similar idea to develop a quadratic algorithm for the 3-sum problem.Submit the file once you are done" type="file" accept=".zip" /></span>&nbsp;&nbsp;
					  <span class="fileupload-preview"></span>
					  <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">×</a>
					  <br>
					  <p id="file-submission"></p>
					</div>
				  </div>
				  <div class="form-group form-question well well-sm">
				    <label for="q1" class="form-question-text">3.8.2 Write a summary of your learning from solving this problem.</label>
				    <textarea class="form-control form-question-input" type="textarea" name="3.8.2 Write a summary of your learning from solving this problem." id="q1" placeholder="Enter your response here"></textarea>
				    <small id="q1desc" class="form-text text-muted form-question notes"></small>
				  </div>
				  <div class="form-group form-question well well-sm">
				    <label for="q2" class="form-question-text">3.8.3 Give your rating for the faster 3-sum</label>
				    <div class="radio">
					  <label>
					    <input type="radio" name="3.8.3 Give your rating for the faster 3-sum" id="optionsRadios1" value="Bad">
					    Bad
					  </label>
					</div>
					<div class="radio">
					  <label>
					    <input type="radio" name="3.8.3 Give your rating for the faster 3-sum" id="optionsRadios1" value="Mediocre">
					    Mediocre
					  </label>
					</div>
					<div class="radio">
					  <label>
					    <input type="radio" name="3.8.3 Give your rating for the faster 3-sum" id="optionsRadios1" value="Good">
					    Good
					  </label>
					</div>
					<div class="radio">
					  <label>
					    <input type="radio" name="3.8.3 Give your rating for the faster 3-sum" id="optionsRadios1" value="Excellent">
					    Excellent
					  </label>
					</div>
					<div class="radio">
					  <label>
					    <input type="radio" name="3.8.3 Give your rating for the faster 3-sum" id="optionsRadios2" value="Outstanding">
					    Outstanding
					  </label>
					</div>
				    <small id="q1desc" class="form-text text-muted form-question notes"></small>
				  </div>
				  <!-- <div class="form-group form-question well well-sm">
				    <label for="q3" class="form-question-text">3.8.3 I have skipped this video because</label>
				    <textarea class="form-control form-question-input" type="textarea" name="3.8.3 I have skipped this video because" id="q3" placeholder="Enter your response here"></textarea>
				    <small id="q1desc" class="form-text text-muted form-question notes"></small>
				  </div> -->
				  <button type="submit" class="btn btn-primary">Submit</button>
				</form><br>
				<div class="row">
					<div class="col-md-6 text-left">
						<a href="/activity/3/7" class="btn btn-default btn-lg">Activity 7</a>
					</div>
					<div class="col-md-6 text-right">
						<a href="/activity/3/9" class="btn btn-default btn-lg">Activity 9</a>
					</div>
				</div>
			</div>
			<!-- <div class="col-sm-12 col-md-5">
				<ul style="list-style-type: None">
					<li><h4><a href="/playvideo/content/1/01.1. Course Introduction.mp4" target="_blank">01.1. Course Introduction<small> [video]</small></a></h4></li>
					<li><h4><a href="/playvideo/content/1/02.2. Dynamic Connectivity.mp4" target="_blank">02.2. Dynamic Connectivity<small> [video]</small></a></h4></li>
					<li><h4><a href="/playvideo/content/1/03.8.3.8. Quick Find.mp4" target="_blank">03.8.3.8. Quick Find<small> [video]</small></a></h4></li>
				</ul>
			</div> -->
        </div>
    </div>
    {% for key, value in questions.iteritems() %}
    <script type="text/javascript">
    	console.log(document.getElementsByName("{{key}}"))
    	switch(document.getElementsByName("{{key}}")[0].type){
    		case "radio":
    			$('input[value="{{ value }}"]').prop('checked',true)
    			$('#status').html('<div style="color: black; padding: 5px" class="panel panel-success"><b><span class="glyphicon glyphicon-ok" style="color: green" aria-hidden="true"></span> Submitted.</b></div>');
    			break;
    		case "textarea":
    			$('textarea[name="{{ key }}"]').prop('value',"{{value}}")
    			$('#status').html('<div style="color: black; padding: 5px" class="panel panel-success"><b><span class="glyphicon glyphicon-ok" style="color: green" aria-hidden="true"></span> Submitted.</b></div>');
    			break;
    		// case "file":
    		// 	$('#file-submission').html("{{value}}");
    		// 	$('#status').html('<div style="color: black; padding: 5px" class="panel panel-success"><b><span class="glyphicon glyphicon-ok" style="color: green" aria-hidden="true"></span> Submitted.</b></div>');
    		// 	break;
    	}
    </script>
    <script type="text/javascript" src="/scripts/fileupload.js"></script>
    {%endfor%}
{% endblock %}